{% extends 'base.html.twig' %}

{% block title %}Panel admin - Réseau H10{% endblock %}

{% block body %}
    <div class="w-full h-screen bg-[#174E65] flex justify-center items-center">
        <div class="w-[94%] h-[90%] bg-white rounded-3xl p-8 flex flex-col justify-center items-center">
            <img src="{{ asset("build/images/logo.png") }}" alt="Logo" class="w-[500px]">
            <p class="text-4xl">Panel administrateur</p>
            <div class="mt-8">
                <a href="{{ path('app_login') }}" class="bg-[#7C929B] text-white rounded px-6 py-2 text-xl">Se connecter</a>
            </div>
            <div class="mt-8">
                <a href="{{ path('app_contact') }}" class="bg-[#7C929B] text-white rounded px-6 py-2 text-xl">Contact</a>
            </div>
        </div>
    </div>
{% endblock %}
